<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<meta charset="utf-8" />
<title>新建员工</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-users home-icon"></i>
					<a href="javascript:void(0)">员工管理</a>
				</li>
				<li th:switch="${type}">
					<a th:case="'create'" href="javascript:void(0)">新建员工</a>
					<a th:case="'edit'" href="javascript:void(0)">账号管理</a>
					<a th:case="'view'" href="javascript:void(0)">账号详情</a>
				</li>
			</ul>
			<!-- /.breadcrumb -->

		</div>
		<!-- /section:basics/content.breadcrumbs -->
		<div class="page-content">

			<div class="space-10"></div>

			<div class="page-content-area">

				<div class="row">
					<div class="col-xs-12">
						<div th:if="${type=='edit'}" class="alert alert-block alert-info">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>

							<i class="ace-icon fa fa-check green"></i>
							<strong class="green">温馨提示：</strong>
							无需修改密码时，密码输入框请保持空白即可。
						</div>
						<!-- PAGE CONTENT BEGINS -->
						<form id="form1" class="form-horizontal" role="form" th:object="${user}">
							<input th:field="*{id}" type="hidden" />
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="username"> 用户名：</label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{username}" type="text" id="username" placeholder="请输入用户名"
										class="col-xs-10 col-sm-5" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="name">真实姓名： </label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{name}" type="text" id="name" placeholder="请输入用户真实姓名"
										class=" col-xs-10 col-sm-5" />
								</div>
							</div>

							<!-- /section:elements.form -->
							<div class="space-4" th:if="${{type!='view'}}"></div>

							<div class="form-group" th:if="${{type!='view'}}">
								<label class="col-sm-3 control-label no-padding-right" for="password_1">密码： </label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{password}" type="password" id="password_1" placeholder="请输入密码"
										class="col-xs-10 col-sm-5" />
								</div>
							</div>

							<div class="space-4" th:if="${{type!='view'}}"></div>

							<div class="form-group" th:if="${type!='view'}">
								<label class="col-sm-3 control-label no-padding-right" for="password_2">确认密码： </label>

								<div class="col-sm-9">
									<input type="password" id="password_2" placeholder="请再次输入密码" class="col-xs-10 col-sm-5" />
								</div>
							</div>

							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="role">员工类型：</label>
								<div class="col-sm-3">
									<div class="pos-rel">
										<select th:disabled="${type=='view' || user.id==session.SPRING_SECURITY_CONTEXT.authentication.principal.id}"
											th:field="*{role}" class="form-control" id="role">
											<option value="USER">普通账户</option>
											<option value="ADMIN">管理员账户</option>
										</select>
									</div>
								</div>
							</div>

							<div class="clearfix form-actions" th:if="${{type!='view'}}">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn" type="reset" id="reset" th:if="${{type=='create'}}">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
									<button class="btn" type="button" th:if="${{type=='edit'}}" onclick="javascript:history.back()">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										返回上一页
									</button>

									&nbsp; &nbsp; &nbsp;

									<button th:if="${{type=='create'}}" class="btn btn-info" type="button" onclick="toVaild()">
										<i class="ace-icon fa fa-check bigger-110"></i>
										新建员工
									</button>
									<button th:if="${{type=='edit'}}" class="btn btn-info" type="button" onclick="toVaildEdit()">
										<i class="ace-icon fa fa-check bigger-110"></i>
										保存
									</button>
								</div>
							</div>
							<div class="clearfix form-actions" th:if="${{type=='view'}}">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-info" type="button" onclick="javascript:history.back()">
										<i class="ace-icon fa fa-check bigger-110"></i>
										返回上一页
									</button>
								</div>
							</div>

						</form>

					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content-area -->
		</div>
		<!-- /.page-content -->
		<script src="/assets/js/jquery.min.js"></script>
		<script type="text/javascript">
			function toVaild() {
				if ($("#username").val() == "") {
					alert("用户名不能为空");
					return false;
				}
				if ($("#name").val() == "") {
					alert("真实姓名不能为空");
					return false;
				}
				if ($("#password_1").val() == ""
						|| $("#password_1").val().length < 6) {
					alert("请输入最少六位数的密码");
					return false;
				}
				if ($("#password_1").val() != $("#password_2").val()) {
					alert("两次输入的密码不一致");
					return false;
				}

				submitDatd(true);
			}
			function toVaildEdit() {
				if ($("#password_1").val() != ""
						&& $("#password_1").val().length < 6) {
					alert("请输入最少六位数的密码");
					return false;
				}
				if ($("#password_1").val() != $("#password_2").val()) {
					alert("两次输入的密码不一致");
					return false;
				}

				submitDatd(false);
			}

			function submitDatd(ifCreate) {
				$.ajax({
					cache : true,
					type : "POST",
					url : "/user/AddOrModifyUser.do",
					data : $("#form1").serialize(),// 你的formid
					async : false,
					error : function(request) {
						alert("网络超时");
					},
					success : function(data) {
						if (data.code == 0) {
							alert(data.message);
							if (ifCreate) {
								$("#reset").click();
							}
						} else {
							alert(data.message);
						}
					}
				});
			}
		</script>
	</div>
</body>
</html>