<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<meta charset="utf-8" />
<title>创建账单</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-pencil-square-o home-icon"></i> <a href="javascript:void(0)">账单管理</a></li>
				<li><a href="javascript:void(0)">创建账单</a></li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="space-10"></div>

			<div class="page-content-area">

				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<form class="form-horizontal" role="form">
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信名：</label>

								<div class="col-sm-9">
									<input type="text" id="form-field-1" placeholder="请输入微信名" class="col-xs-10 col-sm-5" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信号：</label>

								<div class="col-sm-9">
									<input type="text" id="form-field-1" placeholder="请输入微信号" class="col-xs-10 col-sm-5" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 人数：</label>

								<div class="col-sm-9">
									<input type="text" id="form-field-1" placeholder="请输入人数" class="col-xs-10 col-sm-5"
										onkeyup="value=value.replace(/[^\d]/g,'')" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 金额：</label>

								<div class="col-sm-9">
									<input type="text" id="form-field-1" placeholder="请输入金额" class="col-xs-10 col-sm-5"
										onkeyup="value=value.replace(/[^\-?\d.]/g,'')" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">客户来源：</label>
								<div class="col-sm-3">
									<div class="pos-rel">
										<select class="form-control" id="form-field-select-1">
											<option value="">请选择客户来源</option>
											<option value="AL">推广</option>
											<option value="AZ">单导</option>
										</select>
									</div>
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">账单状态：</label>
								<div class="col-sm-3">
									<div class="pos-rel">
										<select class="form-control" id="form-field-select-1">
											<option value="">请选择账单状态</option>
											<option value="AL">未打款</option>
											<option value="AK">已打款</option>
										</select>
									</div>
								</div>
							</div>


							<div class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i> 重置
									</button>

									&nbsp; &nbsp; &nbsp;

									<button class="btn btn-info" type="button">
										<i class="ace-icon fa fa-check bigger-110"></i> 创建账单
									</button>
								</div>
							</div>

						</form>

					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content-area -->
		</div>
		<!-- /.page-content -->
	</div>
</body>
</html>