<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="base/layout">
<head>
<meta charset="utf-8" />
<title>创建员工</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-users home-icon"></i>
					<a href="javascript:void(0)">员工管理</a>
				</li>
				<li>
					<a href="javascript:void(0)">创建员工</a>
				</li>
			</ul>
			<!-- /.breadcrumb -->

		</div>
	</div>
</body>
</html>