<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<meta charset="utf-8" />
<title>新建账单</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- #section:basics/content.breadcrumbs -->
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-pencil-square-o home-icon"></i>
					<a href="javascript:void(0)">账单管理</a>
				</li>
				<li th:switch="${type}">
					<a th:case="'create'" href="javascript:void(0)">新建账单</a>
					<a th:case="'edit'" href="javascript:void(0)">编辑账单</a>
					<a th:case="'view'" href="javascript:void(0)">账单详情</a>
				</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">

			<div class="space-10"></div>

			<div class="page-content-area">

				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<form id="form1" class="form-horizontal" role="form" th:object="${bill}">
							<input th:field="*{id}" type="hidden" />
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="wechatNumber"> 微信号：</label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{wechatNumber}" type="text" id="wechatNumber"
										placeholder="请输入微信号" class="col-xs-10 col-sm-5" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="wechatName"> 微信名：</label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{wechatName}" type="text" id="wechatName" placeholder="请输入微信名"
										class="col-xs-10 col-sm-5" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="peopleNumber"> 人数：</label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{peopleNumber}" type="text" id="peopleNumber"
										placeholder="请输入人数" class="col-xs-10 col-sm-5" onkeyup="value=value.replace(/[^\d]/g,'')" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="moneySum"> 金额：</label>

								<div class="col-sm-9">
									<input th:readonly="${type=='view'}" th:field="*{moneySum}" type="text" id="moneySum" placeholder="请输入金额"
										class="col-xs-10 col-sm-5" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" />
								</div>
							</div>

							<div class="space-4" th:if="${{type!='create'}}"></div>
							<div class="form-group" th:if="${{type!='create'}}">
								<label class="col-sm-3 control-label no-padding-right" for="createUser"> 创建人：</label>

								<div class="col-sm-9">
									<input type="text" readonly="readonly" th:field="*{createUserBean.name}" id="createUser" value="管理员"
										class="col-xs-10 col-sm-5" />
								</div>
							</div>

							<div class="space-4" th:if="${{type!='create'}}"></div>
							<div class="form-group" th:if="${{type!='create'}}">
								<label class="col-sm-3 control-label no-padding-right" for="createDate"> 创建日期：</label>

								<div class="col-sm-9">
									<input type="text" readonly="readonly" th:value="${#dates.format(bill.createDate, 'yyyy-MM-dd HH:mm:ss')}"
										id="createDate" class="col-xs-10 col-sm-5" />
								</div>
							</div>

							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="customerSource">客户来源：</label>
								<div class="col-sm-3">
									<div class="pos-rel">
										<select class="form-control" th:disabled="${type=='view'}" th:field="*{customerSource}" id="customerSource">
											<option value="">请选择客户来源</option>
											<option value="tg">推广</option>
											<option value="dd">单导</option>
										</select>
									</div>
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="billingStatus">账单状态：</label>
								<div class="col-sm-3">
									<div class="pos-rel">
										<select class="form-control" th:disabled="${type=='view'}" th:field="*{billingStatus}" id="billingStatus">
											<option value="">请选择账单状态</option>
											<option value="ydk">未打款</option>
											<option value="wdk">已打款</option>
										</select>
									</div>
								</div>
							</div>

							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 附件图片：</label>

								<div class="col-sm-9">
									<input name="file" type="file" id="imgFile" class="col-xs-10 col-sm-5" onchange="changeFile(this)"
										accept="image/gif,image/jpeg,image/jpg,image/png" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 图片预览：</label>
								<img id="imgSrc" th:src="@{'/photo/'+${bill.imgPath}}" alt="" class="col-xs-10 col-sm-5 img-responsive" />
							</div>

							<input type="hidden" th:field="*{imgPath}" id="imgPath" />


							<div class="clearfix form-actions" th:if="${{type!='view'}}">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn" type="reset" id="reset" th:if="${{type=='create'}}">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
									<button class="btn" type="button" th:if="${{type=='edit'}}" onclick="javascript:history.back()">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										返回上一页
									</button>

									&nbsp; &nbsp; &nbsp;

									<button th:if="${{type=='create'}}" class="btn btn-info" type="button" onclick="toVaild()">
										<i class="ace-icon fa fa-check bigger-110"></i>
										新建账单
									</button>
									<button th:if="${{type=='edit'}}" class="btn btn-info" type="button" onclick="toVaildEdit()">
										<i class="ace-icon fa fa-check bigger-110"></i>
										保存
									</button>
								</div>
							</div>
							<div class="clearfix form-actions" th:if="${{type=='view'}}">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-info" type="button" onclick="javascript:history.back()">
										<i class="ace-icon fa fa-check bigger-110"></i>
										返回上一页
									</button>
								</div>
							</div>

						</form>

					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/ajaxfileupload.js"></script>
			<script type="text/javascript">
				function changeFile(input) {
					var file = input.files[0];//上传的图片的所有信息
					if (!/image\/\w+/.test(file.type)) {
						alert('附件必须是图片');
					} else {
						$.ajaxFileUpload({
							url : '/file/uploadFile.do', //用于文件上传的服务器端请求地址
							secureuri : false, //是否需要安全协议，一般设置为false
							fileElementId : 'imgFile', //文件上传域的ID
							dataType : 'json', //返回值类型 一般设置为json
							success : function(data) {
								if (data.code == 0) {
									$("#imgPath").val(data.data);
									$('#imgSrc').attr("src",
											'/photo/' + data.data);
								} else if (condition) {
									alert("上传失败请重试");
								}
							},
							error : function(data) {
								alert("网络超时");
							}
						})
					}
				}
				function toVaild() {
					if ($("#wechatNumber").val() == "") {
						alert("微信号不能为空");
						return false;
					}
					if ($("#peopleNumber").val() == "") {
						alert("人数不能为空");
						return false;
					}
					if ($("#moneySum").val() == "") {
						alert("金额不能为空");
						return false;
					}
					if ($("#customerSource").val() == "") {
						alert("请选择客户来源");
						return false;
					}
					if ($("#billingStatus").val() == "") {
						alert("请选择账单状态");
						return false;
					}

					submitDatd(true);
				}

				function toVaildEdit() {
					if ($("#wechatNumber").val() == "") {
						alert("微信号不能为空");
						return false;
					}
					if ($("#peopleNumber").val() == "") {
						alert("人数不能为空");
						return false;
					}
					if ($("#moneySum").val() == "") {
						alert("金额不能为空");
						return false;
					}
					if ($("#customerSource").val() == "") {
						alert("请选择客户来源");
						return false;
					}
					if ($("#billingStatus").val() == "") {
						alert("请选择账单状态");
						return false;
					}

					submitDatd(false);
				}

				function submitDatd(ifCreate) {
					$.ajax({
						cache : true,
						type : "POST",
						url : "/bill/AddOrModifyBill.do",
						data : $("#form1").serialize(),// 你的formid
						async : false,
						error : function(request) {
							alert("网络超时");
						},
						success : function(data) {
							if (data.code == 0) {
								alert(data.message);
								if (ifCreate) {
									$("#reset").click();
								}
							} else {
								alert(data.message);
							}
						}
					});
				}
			</script>
		</div>
		<!-- /.page-content -->
	</div>
</body>
</html>