<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<meta charset="utf-8" />
<title>系统主页</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- /section:settings.box -->
		<div class="page-content-area">

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="alert alert-block alert-info">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>

						<i class="ace-icon fa fa-check green"></i>
						<strong class="green">温馨提示：</strong>
						<span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}"></span>
						您好,欢迎您访问林晟传媒办公系统。
					</div>
					<div class="row center">
						<img class="img-responsive center-block" src="/assets/avatars/logo_2.png" />
					</div>
					<!-- /.row -->

					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content-area -->
	</div>
</body>
</html>