<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>布局</title>
<meta name="description" content="Restyling jQuery UI Widgets and Elements" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/css/ace-fonts.css" />
<link rel="stylesheet" href="/assets/css/ui.jqgrid.css" />
<link rel="stylesheet" href="/assets/css/ui.jqgrid.css" />
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="/assets/css/ace.min.css" id="main-ace-style" />

<script src="/assets/js/ace-extra.min.js"></script>
</head>

<body class="no-skin">
	<div id="navbar" class="navbar navbar-default">
		<div class="navbar-container" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="navbar-header pull-left">
				<a href="/index.html" class="navbar-brand">
					<small>
						<img src="/assets/avatars/logo.png" width="120px" height="20px" alt=""
							th:src="${session.config.SYSTEM_LOGO_BAR}" />
					</small>
				</a>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<!-- <li class="green">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
							<span class="badge badge-success" id="msgCountNum">0</span>
						</a>

						<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header">
								<i class="ace-icon fa fa-envelope-o"></i>
								新添加
								<strong>
									<span id="msgCount">0</span>
								</strong>
								个账单
							</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar">
									<li>
										<a href="#">
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue" onclick="toCustomerPage()">客户管理:</span>
													新增加
													<strong>
														<span id="customerCount"></span>
													</strong>
													位客户
												</span>
												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span id="customerDate">2018-00-00 00:00:00</span>
												</span>
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue" onclick="toBillPage()">账单管理:</span>
													<span id="billCount"></span>
													条未读消息
												</span>
												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span id="billDate">2018-00-00 00:00:00</span>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li> -->
					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<span class="user-info">
								欢迎您
								<br class="hidden-xs" />
								<span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}">用户名</span>
							</span>
							<i class="ace-icon fa fa-caret-down"></i>
						</a>

						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a target="_blank"
									th:href="@{'/user/edit_user.html?id='+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}}">
									<i class="ace-icon fa fa-user"></i>
									账号管理
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="/unlogin.do">
									<i class="ace-icon fa fa-power-off"></i>
									注销登陆
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-container" id="main-container">
		<div id="sidebar" class="sidebar responsive">
			<ul class="nav nav-list">
				<li th:each="menu : ${session.menus}">
					<a href="#" th:href="${menu.path}" th:class="${menu.children!=null}?'dropdown-toggle':''">
						<i th:class="'menu-icon fa ' + ${menu.icon}" th:classname="${menu.icon}"></i>
						<span class="menu-text" th:text="${menu.text}">-</span>
						<b class="arrow fa fa-angle-down" th:if="${menu.children!=null}"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu" th:if="${menu.children!=null}">
						<li th:each="cmenu : ${menu.children}">
							<a href="#" th:href="${cmenu.path}" th:class="${cmenu.children!=null}?'dropdown-toggle':''">
								<i class="menu-icon fa fa-caret-right"></i>
								<i th:class="'menu-icon fa ' + ${cmenu.icon}" th:classname="${cmenu.icon}"></i>
								<span class="menu-text" th:text="${cmenu.text}">-</span>
								<b class="arrow fa fa-angle-down" th:if="${cmenu.children!=null}"></b>
							</a>
							<b class="arrow"></b>
							<ul class="submenu" th:if="${cmenu.children!=null}">
								<li th:each="ccmenu : ${cmenu.children}">
									<a href="#" th:href="${ccmenu.path}" th:class="${ccmenu.children!=null}?'dropdown-toggle':''">
										<i th:class="'menu-icon fa ' + ${ccmenu.icon}" th:classname="${ccmenu.icon}"></i>
										<span class="menu-text" th:text="${ccmenu.text}">-</span>
										<b class="arrow fa fa-angle-down" th:if="${ccmenu.children!=null}"></b>
									</a>
									<b class="arrow"></b>
									<ul class="submenu" th:if="${ccmenu.children!=null}">
										<li class="" th:each="cccmenu : ${ccmenu.children}">
											<a href="#" th:href="${cccmenu.path}">
												<i th:class="'menu-icon fa ' + ${cccmenu.icon}" th:classname="${cccmenu.icon}"></i>
												<span class="menu-text" th:text="${cccmenu.text}">-</span>
											</a>

											<b class="arrow"></b>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb" id="breadcrumb_list">
				</ul>

				<div class="nav-search" id="nav-search" th:if="${report!=null}">
					<input th:if="${report.operationUpload}" id="input_file" name="file" type="file" class="hidden" accept=".xls"
						th:onchange="'changeFile(this,\'' + ${report.name} + '\')'" />
					<button th:if="${report.operationUpload}" class="btn btn-xs center" title="导入" onclick="$('#input_file').click();">
						<i class="fa-upload fa fa-trash-o"></i>
					</button>
					<button th:if="${report.operationDownload}" class="btn btn-xs center" title="导出"
						th:onclick="'download(\'' + ${report.name} + '\')'">
						<i class="fa-download fa fa-trash-o"></i>
					</button>
				</div>
			</div>

			<div class="page-content" layout:fragment="content"></div>
		</div>

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span class="bigger-120">
						<span th:text="${session.config.SYSTEM_NAME}"></span>
						&copy;
						<a href="https://github.com/loverqi/star" target="_blank">loverqi.cn</a>
					</span>
				</div>
			</div>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>" + "<"+"/script>");
	</script>
	<!-- <![endif]-->

	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement)
			document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<"+"/script>");
	</script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/ace-elements.min.js"></script>
	<script src="/assets/js/ace.min.js"></script>
	<script src="/js/star.layout.js"></script>
	<!-- <script type="text/javascript" th:if="${'ADMIN' == session.SPRING_SECURITY_CONTEXT.authentication.principal.role}">
		getMsg();
		setInterval(function() {
			getMsg();
		}, 1500);
		function getMsg() {
			$.ajax({
				cache : true,
				type : "GET",
				url : "/msg/getMessages.do",
				async : false,
				error : function(request) {
				},
				success : function(data) {
					if (data.code == 0) {
						data = data.data;
						$("#msgCountNum").text(
								data.cuntomerMsgCount + data.billMsgCount);
						$("#msgCount").text(
								data.cuntomerMsgCount + data.billMsgCount);
						$("#customerCount").text(data.cuntomerMsgCount);
						$("#customerDate").text(data.cuntomerMsgDate);
						$("#billCount").text(data.billMsgCount);
						$("#billDate").text(data.billMsgDate);
					}
				}
			});
		}
		function toCustomerPage() {
			window.open("/customer/view_customer.html?ifSee=false");
		}
		function toBillPage() {
			window.open("/bill/view_bill.html?ifSee=false");
		}
	</script> -->
</body>